body,
html {
    height: 95%;
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to right, #9A0000, #DD0000, #D61111, #E32222, #E71C1C, #EC4646);
    min-height: 100%;
}

.header {
    position: relative;
    height: 55px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;    
}

.header img{
    width: 40px;
    margin-left: 10px;
    margin-top: 8px;
}
.titulo {
    font-size: 25px;
    font-family: monospace;
    position: relative;
    margin-left: 75px;
    bottom: 65px;
    margin-top: 30px;
}

.contenedor {
    margin-top: 10px;
    display: flex;
    height: 100vh;
}

.barra-lateral {
    width: 250px;
    background-color: #ffffff;
}
.container1 {
    margin-top: 15px;
}

.container2 {
    margin-top: 50px;
    background-color: #FF3636;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom left, #EC4646 50%, #e73131 50%);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    height: 400px;
    width: 450px;
}

.formulario-registro input{
    height: 35px;
    width: 70%;
    border-radius: 10px;
    border-color: rgb(204, 199, 199);
    opacity: 50%;
    margin-left: 15px;
    margin-top: 10px;
}

button{
    font-size: 15px;
    font-family: monospace;
    color: white;
    height: 35px;
    width: 35%;
    border-radius: 10px;
    background-color: #D40000;
    border-color: #D40000;
    margin-top: 25px;
}

.style_link a:link,
a:visited,
a:active{
    text-decoration: none;
    color: rgb(172, 172, 172);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
/* Estilo agregar.html abajo de esto */

.parte a:link,
a:visited,
a:active{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.parte.link-a{
margin-bottom: 50px;

}

.contenido{
background-color: #FF3636;
    width: 500px;
    height: 550px;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #EC4646 50%, #e73131 50%);
    

    
}
.formulario-agregar{
    padding: 20px;

}

.formulario-agregar input{
    border-radius: 5px;
    width: 150px;
    display: block;
}
